.header__border {
    display: block;
    width: 100vw;
    max-width: 880px;
    margin: 0 auto;
    height: 1px;
    border-bottom: rgb(84, 84, 84, .7) 1px solid;
}

@media screen and (max-width: 610px) {
    .header__border {
      display: none;
    }
  }