.header__logo {
  max-width: 142px;
  max-height: 33px;
  margin: 45px 0 37px;
}

@media screen and (max-width: 940px) {
  .header__logo {
    margin-left: calc(30px - (100vw - 880px) / 2);
  }
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-left: 30px;
  }
}

@media (max-width: 610px) {
  .header__logo {
    margin: 28px 0 28px 27px;
    width: 103.74px;
    height: 24.4px;
  }
}