.popup_edit_submit {
    height: 50px;
    background-color: rgba(0, 0, 0);
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: rgba(255, 255, 255);
    font-family: inherit;
    cursor: pointer;
    transition: opacity .5s ease;
}

.popup_edit_submit:hover {
    opacity: .8;
}

@media screen and (max-width: 610px) {
    .popup_edit_submit {
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}