.popup__image-container {
    margin: 0;
    padding: 0;
    max-width: 75vw;
    max-height: 75vh;
    background-color: transparent;
    justify-self: center;
    object-fit: cover;
    box-sizing: border-box;
    position: relative;
  }

  
  @media screen and (max-width: 610px) {
    .popup__content {
      min-width: 282px;
      padding: 23px 22px 24px 22px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }