.popup__close {
    background-image: url('../../../images/button__close.svg');
    position: absolute;
    background-repeat: no-repeat;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background-size: 32px;
    border: none;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 610px) {
    .popup__close {
        width: 20px;
        height: 20px;
        background-size: 20px;
        right: 0;
        top: -38px;
    }
}