.element__like-button {
    grid-area: element__like-button;
    object-fit: cover;
    position: relative;
    object-position: 50% 50%;
    background-size: 22px 19px;
    background: url(../../../images/button-like-hart.svg) center no-repeat;
    width: 64px;
    height: 79px;
    align-self: center;
    align-items: center;
    color: #000;
    border: none;
    padding: 0;
}

.element__like-button:hover {
	opacity: .6;
}