.profile__info {
    grid-area: profile__info; 
    box-sizing: border-box;
    height: 120px;
    display: grid; 
    grid-template-columns: 1fr 24px; 
    grid-template-rows: 68px 1fr; 
    gap: 0px 18px; 
    grid-template-areas: 
      "profile__name profile__edit-button"
      "profile__description profile__description"; 
    justify-items: start;
    align-items: end;
  }
 
  @media screen and (max-width: 600px) {
    .profile__info {
      min-width: 150px;
      width: calc(100vw - 38px);
      max-height: 80px;
      grid-template-areas: 
      ". profile__name profile__edit-button"
      "profile__description profile__description profile__description"; 
      grid-template-columns: 30px 1fr 35px;
      grid-template-rows: 58px 1fr; 
      gap: 0px 5px;
    }
  }