.profile__info {
  grid-area: profile__info;
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 0px 18px;
  grid-template-areas:
    "profile__name profile__edit-button"
    "profile__description profile__description";
  align-items: end;
}

@media screen and (max-width: 600px) {
  .profile__info {
    min-width: 150px;
    width: calc(100vw - 38px);
    grid-template-areas:
    ". profile__name profile__edit-button"
    "profile__description profile__description profile__description";
    grid-template-columns: 36px 1fr 36px;
    gap: 0px 5px;
  }
}