.footer {
    max-width: 880px;
    min-height: 18px;
    margin: 0 auto;
}

@media (max-width: 940px) {
    .footer {
        max-width: calc(880px + (100vw - 940px));
    }
}

@media screen and (max-width: 619px) {
    .footer {
        max-width: calc(100vw - 38px);
    }
}