.element {
    grid-area: element;
    display: grid;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 361px;
    background: #FFFFFF;
    border-radius: 10px;
    grid-template-columns: 1fr 64px;
    grid-template-rows: 1fr 79px;
    gap: 0px 0px;
    grid-template-areas:
      "element__image element__image"
      "element__title element__like-button";
    justify-items: center;
    align-items: center;
}