.view__container {
    margin: 0;
    padding: 0;
    max-width: 75vw;
    max-height: 75vh;
    background-color: transparent;
    justify-self: center;
    object-fit: cover;
    box-sizing: border-box;
    position: relative;
  }

  @media screen and (max-width: 610px) {
    .view__container {
      max-width: calc(100vw - 80px);
      display: flex;
      flex-direction: column;
    }
  }